.container{
    width: 80vw;
    padding: 4rem 0rem;
    // border: 2px solid red;
   height: 100%;
    display: grid;
    grid-template-rows: 1fr max-content;
    gap: 1rem;
}

.content {
    background: #2C333A;
    padding: 2rem;
    color: white;
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0,0,0,0.1) ;

    p{
        padding: 0;
        margin: 0;
    }


    ul {
        list-style: none;
        padding: 0;
        gap: 1rem;  
        display: flex;
        flex-direction: column;
        //grid-template-columns: 1fr;
        max-height: 48vh;
        overflow-y: scroll;
        //border: 1px solid red;  
        background: #20252b;
        padding: 1rem;
        min-height: 95%;
        li {
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: row;
            gap: 1rem;
           // border: 1px solid blue;
            height: fit-content;
            place-content: center start;
        
            img {
                width: 48px;
                object-fit: scale-down;
                place-self: start;
            }
            p  {
                color: #eee;
                //border: 1px solid red;
                height: fit-content;
                place-self: center;
            }
        }
    }
}

.input{
    
    background: #2C333A;
    color: white;
}

.inputWrapper{
    display: grid;
    grid-row: 2;
    grid-template-columns: 1fr max-content;
    //border: 2px solid red;
    gap: 1rem;
}

.sendButton{
    padding: 0 3rem;
}